 <header class="main-header">
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <a href="/">Oto<span>Galeri</span></a>
                </div>
                
                <nav class="main-nav">
                    <ul>
                        <li><a href="/"><i class="fas fa-home"></i> Ana Sayfa</a></li>
                        <li><a href="/cars" ><i class="fas fa-car"></i> Araçlar</a></li>
                        <li><a href="/"><i class="fas fa-envelope"></i> İletişim</a></li>
                    </ul>
                </nav>
                
             
                <div class="mobile-menu-btn">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </div>
    </header>
